# ASP.NET Core
Backend/bin/
Backend/obj/
Backend/Migrations/        # Ignore EF Core migrations
*.csproj.user
*.suo
*.user
*.sln.docstates
Backend/appsettings.json
Backend/appsettings.*.json
Backend/wwwroot/
.vs/
*.log
*.sqlite
*.db

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
*.log
npm-debug.log
yarn-error.log
frontend/.cache/

# Environment files
.env
*.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db