<div class="dialog-overlay" *ngIf="showDialog" (click)="close()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <div class="dialog-header">
      <h2>{{ editMode ? 'Modifier Unité' : 'Ajouter Unité' }}</h2>
      <button class="close-button" (click)="close()">×</button>
    </div>
    
    <div class="dialog-content">
      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
      
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" appTextFormatter [(ngModel)]="unite.nom" placeholder="Entrez le nom de l'unité">
      </div>
      
      <div class="form-group">
        <label for="abreviation">Abreviation</label>
        <input type="text" id="abreviation"  [(ngModel)]="unite.abreviation" placeholder="Entrez l'abreviation">
      </div>
    </div>
    
    <div class="dialog-footer">
      <button class="cancel-button" (click)="close()">Cancel</button>
      <button class="submit-button" (click)="submit()">
        {{ editMode ? 'Modifier Unité' : 'Ajouter Unité' }}
      </button>
    </div>
  </div>
</div>